# Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [ ]:
# Your code here
print("Hello, World!")

Hello, World!

**Question 2:** Write a Python program that takes a user input and prints it.

In [ ]:
# Your code here
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? harsha
Hello, harsha!

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [ ]:
# Your code here
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 210
Positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [ ]:
# Your code here
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
if(num1>num2 and num1>num3):
    print("is largest " + str(num1))
elif(num2>num3 and num2>num1):
   print("is largest " + str(num2))
else:
    print("is largest " + str(num3))

Enter first number: 67
Enter second number: 89
Enter third number: 90
is largest 90.0

**Question 5:** Write a Python program to calculate the factorial of a number.

In [ ]:
# Your code here
num = int(input("Enter a number: "))
fact = 1
for i in range(1,num + 1):
       fact = fact*i
print("The factorial of",num,"is",fact)

Enter a number: 678
The factorial of 678 is 8646331292635235392312053236158371808602366207348335861601954823548170896883855947101515679236150405496039431534046063404628871789111923459163050103041948410565588527142272613591081133840844934227155335959608571154399120479251441554499289097892322193878220462297987157950822846295988254730050269632972375459379701542804216045403184781341755554870811863135921061460358004018254917737833898689963342020135479597196526112007579493540471364335124246156512235128228944741749571962347107115497267700695661792024782327927096973472011988921071370354946318002090402083357105319667806602929950795641132749772799292184788577391503822774819366570269068087866119167643520723214738157517091673535007038079927759075341556293472983702177255345453516205729066340533437210980060544037835478164909830634252874602996034006157267673758435119124145262770621747417242086971570978216458761666069207904196975708502026753658022526378031398120310304675416633881297280318067710752386755166433404450391347446589682924920121181397021272000047873535982873821776031614855105010033580535013712516426475855927323061978238877319726024456893998192124699988355658542146944635521865300793702816371651463617868371827599954692530044634364123966105906784867979766362723453902698741878759209276387935495660966207936871079747062703906423997919023070410029766536609406803872264705175985537960652392424711139002008563438942470650340533827659145292553931119583347623597055704570270914210346874793678077952000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [ ]:
# Your code here
a = 10
b = 3.14
c = "Python"
d = True
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))

10 <class 'int'>
3.14 <class 'float'>
Python <class 'str'>
True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [ ]:
# Your code here
a = 5
b = 10
print("Before swapping: a =", a, "b =", b)
a, b = b, a
print("After swapping: a =", a, "b =", b)

Before swapping: a = 5 b = 10
After swapping: a = 10 b = 5

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
# Your code here
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(celsius, "degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit")

Enter temperature in Celsius: 45
45.0 degrees Celsius is equal to 113.0 degrees Fahrenheit

**Question 9:** Write a Python program to concatenate two strings.

In [ ]:
# Your code here
str1 = "Hello"
str2 = "World"
result = str1 + str2
print(result)

HelloWorld

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [ ]:
# Your code here
num = 10
print(isinstance(num, int))

True

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [ ]:
# Your code here
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

Enter first number: 29
Enter second number: 29
Addition: 58.0
Subtraction: 0.0
Multiplication: 841.0
Division: 1.0

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

In [ ]:
# Your code here
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Equal to:", num1 == num2)
print("Not equal to:", num1 != num2)
print("Greater than:", num1 > num2)

Enter first number: 34
Enter second number: 554
Equal to: False
Not equal to: True
Greater than: False

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [ ]:
# Your code here
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("And:", num1 > 0 and num2 > 0)
print("Or:", num1 > 0 or num2 > 0)
print("Not:", not(num1 > 0))

Enter first number: 3
Enter second number: 34
And: True
Or: True
Not: False

**Question 14:** Write a Python program to calculate the square of a number.

In [ ]:
# Your code here
num = float(input("Enter a number: "))
print("Square:", num**2)

Enter a number: 24
Square: 576.0

**Question 15:** Write a Python program to check if a number is even or odd.

In [ ]:
# Your code here
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 894
Even

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [ ]:
# Your code here
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n + 1):
    sum += i
print("Sum of the first", n, "natural numbers is", sum)

Enter a number: 808
Sum of the first 808 natural numbers is 326836

**Question 17:** Write a Python program to check if a year is a leap year.

In [27]:
# Your code here
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2025
Not a leap year

**Question 18:** Write a Python program to reverse a string.

In [28]:
# Your code here
str = input("Enter a string: ")
print("Reversed string:", str[::-1])

Enter a string: harsha
Reversed string: ahsrah

**Question 19:** Write a Python program to check if a string is a palindrome.

In [30]:
# Your code here
str = input("Enter a string: ")
if str == str[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: appa
Palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [31]:
# Your code here
list = [5, 2, 9, 1, 7]
list.sort()
print("Sorted list:", list)

Sorted list: [1, 2, 5, 7, 9]