# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
#Create a tuple with the first 10 positive integers. Print the tuple.
tup=tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("First element:", tup[0])
print("Middle element:", tup[len(tup) // 2]) 
print("Last element:", tup[-1])

First element: 1
Middle element: 6
Last element: 10

In [5]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
tup=tuple(range(1,11))
print("first three elements",tup[:3])
print("last three elements",tup[-3:])
print("elements from index 2 to 5 ",tup[2:6])

first three elements (1, 2, 3)
last three elements (8, 9, 10)
elements from index 2 to 5  (3, 4, 5, 6)

In [6]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print("Matrix:")
for row in matrix:
    print(row)

element = matrix[1][2]
print("Element at second row and third column:", element)

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

In [7]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

result = tup1 + tup2

print("Concatenated tuple:", result)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [8]:
#Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tup = (1, 2, 3, 2, 4, 2, 5)

count_2 = tup.count(2)

index_2 = tup.index(2)

print("Tuple:", tup)
print("Occurrences of 2:", count_2)
print("Index of first occurrence of 2:", index_2)

Tuple: (1, 2, 3, 2, 4, 2, 5)
Occurrences of 2: 3
Index of first occurrence of 2: 1

In [12]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup=tuple(range(1,6))
one,two,three,four,five=tup
print(one,two,three,four,five)

1 2 3 4 5

In [21]:
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
my_list=[1,2,3,4,5]
tup=tuple(my_list)
print(tup)

(1, 2, 3, 4, 5)

In [15]:
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup=((1,2,3),(4,5,6),(7,8,9))
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [1]:
#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup = tuple(range(1, 6))   
lst = list(tup)            
lst.append(6)              
new_tup = tuple(lst)       
print(new_tup)

(1, 2, 3, 4, 5, 6)

In [2]:
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
text = "hello"

char_tuple = tuple(text)

joined_string = ''.join(char_tuple)

print("Tuple:", char_tuple)
print("Joined string:", joined_string)

Tuple: ('h', 'e', 'l', 'l', 'o')
Joined string: hello

In [3]:
#Create a dictionary with tuple keys and integer values. Print the dictionary.
dict={
    (1,2):10,
    (3,4):20,
    (5,6):30
}
print(dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [4]:
#Create a nested tuple and iterate over the elements, printing each element.
nested_tuple = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for row in nested_tuple:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [5]:
#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tup = (1, 2, 2, 3, 4, 4, 5, 1)

unique_set = set(tup)

print("Original tuple:", tup)
print("Set without duplicates:", unique_set)

Original tuple: (1, 2, 2, 3, 4, 4, 5, 1)
Set without duplicates: {1, 2, 3, 4, 5}

In [6]:
#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
tup = (4, 1, 7, 3, 9)

print("Tuple:", tup)
print("Minimum:", min(tup))
print("Maximum:", max(tup))
print("Sum:", sum(tup))

Tuple: (4, 1, 7, 3, 9)
Minimum: 1
Maximum: 9
Sum: 24