# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.


### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [5]:
my_list = list(range(1, 21))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Assignment 2: Accessing List Elements
Print the first, middle, and last elements of the list created in Assignment 1.

In [7]:
print(my_list[0])
middle_index = len(my_list) // 2
print(my_list[middle_index])
print(my_list[-1])

1
11
20

Assignment 3: List Slicing
Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [10]:
print("First five elements:", my_list[:5])
print("Last five elements:", my_list[-5:])
print("Elements from index 5 to 15:", my_list[5:15])

First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
Elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Assignment 4: List Comprehensions
Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [12]:
squares_list = [i**2 for i in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Assignment 5: Filtering Lists
Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [12]:
my_list = list(range(1, 21))
even_numbers = [num for num in my_list if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Assignment 6: List Methods
Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [15]:
import random

random_list = [random.randint(1, 100) for _ in range(15)]
print("Original list:", random_list)
ascending_list = sorted(random_list)
print("Ascending order:", ascending_list)
descending_list = sorted(random_list, reverse=True)
print("Descending order:", descending_list)
unique_list = list(set(random_list))
unique_list.sort()
print("List with duplicates removed:", unique_list)

Original list: [49, 88, 68, 70, 82, 84, 33, 64, 19, 10, 76, 40, 66, 97, 99]
Ascending order: [10, 19, 33, 40, 49, 64, 66, 68, 70, 76, 82, 84, 88, 97, 99]
Descending order: [99, 97, 88, 84, 82, 76, 70, 68, 66, 64, 49, 40, 33, 19, 10]
List with duplicates removed: [10, 19, 33, 40, 49, 64, 66, 68, 70, 76, 82, 84, 88, 97, 99]

Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:", matrix)
element = matrix[1][2]
print("Element at second row, third column:", element)

Matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Element at second row, third column: 6

Assignment 8: List of Dictionaries
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [22]:
students = [
    {'name': 'harsha', 'score': 95},
    {'name': 'raju', 'score': 80},
    {'name': 'shiva', 'score': 96}
]

print("Original list of students:", students)
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted list of students by score (descending):", sorted_students)

Original list of students: [{'name': 'harsha', 'score': 95}, {'name': 'raju', 'score': 80}, {'name': 'shiva', 'score': 96}]
Sorted list of students by score (descending): [{'name': 'shiva', 'score': 96}, {'name': 'harsha', 'score': 95}, {'name': 'raju', 'score': 80}]

Assignment 9: Matrix Transposition
Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [25]:
import numpy as np
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
def transpose_matrix(matrix):
  transposed_matrix = np.array(matrix).T.tolist()
  return transposed_matrix

print("Original matrix:", matrix)
transposed_matrix = transpose_matrix(matrix)
print("Transposed matrix:", transposed_matrix)

Original matrix: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed matrix: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Assignment 10: Flattening a Nested List
Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [47]:
del list
def flatten_list(nested):
    flat = []
    for item in nested:
        if isinstance(item, list):
            flat.extend(flatten_list(item))  # Recursion for nested lists
        else:
            flat.append(item)
    return flat

original_list = [1, [2, 3], [4, [5, 6]], 7]
flattened = flatten_list(original_list)
print("Original List:", original_list)
print("Flattened List:", flattened)

Original List: [1, [2, 3], [4, [5, 6]], 7]
Flattened List: [1, 2, 3, 4, 5, 6, 7]

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [50]:
lst = list(range(1, 11))
print("Original List:", lst)
lst.pop(2)
lst.pop(4)
lst.pop(6)
lst.insert(5, 99)
print("Modified List:", lst)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Modified List: [1, 2, 4, 5, 7, 99, 8, 10]

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [44]:
def reverse_list(input_list):
   return input_list[::-1]
original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)

print("Original list:", original_list)
print("Reversed list:", reversed_list)

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [64]:
def new_list(list):
  return list[::-1]

list=[1,2,3,4,5]
print("the original list",list)
print("the new list of reverse",new_list(list))

the original list [1, 2, 3, 4, 5]
the new list of reverse [5, 4, 3, 2, 1]

Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists.

In [65]:
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

original = [1, 2, 3, 4, 5]
rotated = rotate_list(original, 2)
print("Original List:", original)
print("Rotated List by 2 positions:", rotated)

Original List: [1, 2, 3, 4, 5]
Rotated List by 2 positions: [3, 4, 5, 1, 2]

Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [66]:
def list_intersection(lst1, lst2):
    return [item for item in lst1 if item in lst2]

a = [1, 2, 3, 4, 5]
b = [3, 4, 5, 6, 7]
intersection = list_intersection(a, b)
print("Intersection of lists:", intersection)

Intersection of lists: [3, 4, 5]